# -*- shell-script -*-
# ~/.shell/profile-local: the local machine specific shell initialization file

# path setting
for prefix in '/opt/local' '/usr/osxws'; do
    for pth in "$prefix/bin" "$prefix/sbin"; do
        if ! echo "$PATH" | grep -q "$pth"; then
            test -d "$pth" && PATH="$pth:$PATH"
        fi
    done
    for pth in "$prefix/share/man" "$prefix/man"; do
        if ! echo "$MANPATH" | grep -q "$pth"; then
            test -d "$pth" && MANPATH="$pth:$MANPATH"
        fi
    done
done
for pth in "$HOME/local" "$HOME"; do
    if ! echo "$PATH" | grep -q "$pth/bin"; then
        test -d "$pth" && PATH="$pth/bin:$PATH"
    fi
    if ! echo "$MANPATH" | grep -q "$pth/man"; then
        test -d "$pth" && MANPATH="$pth/man:$MANPATH"
    fi
done
unset prefix pth
export PATH MANPATH

if ! echo "$PATH" | grep -q /usr/texbin; then
    export PATH=/usr/texbin:$PATH
fi

# personal texmf
export TEXMFHOME="$HOME/Library/texmf"
export TEXMFVAR="$TEXMFHOME"
export TEXMFCONFIG="$TEXMFHOME"

# python setting with virtualenv
if [ -d "$HOME/Library/Python/venv" ]; then
    export VIRTUALENV_DISTRIBUTE=true
    if [ -s "$HOME/Library/Python/venv/bin/activate" ]; then
        source "$HOME/Library/Python/venv/bin/activate"
    fi
    if [ -s "$HOME/Library/Python/venv/bin/virtualenvwrapper.sh" ]; then
        source "$HOME/Library/Python/venv/bin/virtualenvwrapper.sh"
    fi
fi
# python setting with pyenv
if [ -d "$HOME/Library/Python/pyenv"  ] ; then
    export PYENV_ROOT="$HOME/Library/Python/pyenv"
    if [ -z "$(echo $PATH | grep "$PYENV_ROOT/bin")" ]; then
        export PATH="$PYENV_ROOT/bin:$PATH"
    fi
    if [ -x "$(which pyenv 2> /dev/null)" ]; then
        eval "$(pyenv init -)"
    fi
fi


# perl setting with cpanm on user directory
if [ -d "$HOME/Library/Perl" ]; then
    if [ -z "$(echo $PATH | grep \"$HOME/Library/Perl/bin\")" ]; then
        PATH="$HOME/Library/Perl/bin:$PATH"
    fi
    if [ -z "$(echo $MANPATH | grep \"$HOME/Library/Perl/man\")" ]; then
        MANPATH="$HOME/Library/Perl/man:$MANPATH"
    fi
    export PERL5LIB="$HOME/Library/lib/perl5:$PERL5LIB"
    export PERL_CPANM_OPT="--local-lib=$HOME/Library/Perl"
    export PERL_CPANM_HOME="$HOME/Library/Perl/cpanm"
fi

# ruby setting with rbenv
if [ -d "$HOME/Library/Ruby/rbenv"  ] ; then
    export RBENV_ROOT="$HOME/Library/Ruby/rbenv"
    if [ -z "$(echo $PATH | grep \"$RBENV_ROOT/bin\")" ]; then
        export PATH="$RBENV_ROOT/bin:$PATH"
    fi
    if [ -x $(which rbenv 2> /dev/null) ]; then
        eval "$(rbenv init -)"
    fi
fi
