[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/tiny-templates"]
	path = vim/tiny-templates
	url = https://github.com/uchida/tiny-templates.git
[submodule "shell/z"]
	path = shell/z
	url = https://github.com/rupa/z.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
