# -*- shell-script -*-
# ~/.shell/zshrc-local: the local machine specific zsh run commands

# complete filename via command-suffix correspondance
compctl -/g '*.(eps|ps|pdf)' gv
compctl -/g '*.dvi' xdvi
compctl -/g '*.dat' xgraph
compctl -/g '*.yap' yaplot
compctl -/g '*.plt' gnuplot
compctl -/g '*.src.rpm' rpmbuild

# completion
if [ -x "$(which pip 2> /dev/null)" ]; then
    eval "$(pip completion --zsh)"
fi

# Mac OS X specific
if [ -x /usr/bin/osascript ]; then
    # customize for X11
    function activate() { osascript -e "tell application \"$@\" to activate" }
    if [ -z "$SSH_CLIENT" ]; then
        function gv(){ activate Xquartz && command gv "$@" && activate Terminal }
        function xgraph(){ activate Xquartz && command xgraph "$@" && activate Terminal }
        function yaplot(){ activate Xquartz && command yaplot "$@" && activate Terminal }
    fi
fi
